body {
    height: 100vh;
    min-height: 50em;
    margin: 0;
    background-color: #efede4;
}

.container {
    display: flex;
}

.cols {
    flex-direction: column;
    margin: 0.5em;
}

.stretch {
    flex-grow: 1;
}

.buttons {
    overflow-y: scroll;
}

.buttons a {
    flex-grow: 1;
    padding: 1em;
    background-color: #153a5e;
    margin: 0.5em;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    align-content: center;
}
.buttons a:hover {
    background-color: gray;
}
.buttons a.selected {
    background-color: #591e32;
}
.buttons a.success {
    background-color: #495c2a;
}

.notes {
    display: flex;
    height: 100%;
    max-height: 86vh;
}

.notes textarea {
    width: 100%;
    padding: 1em;
    resize: none;
    display: none;
}

.notes textarea.active {
    display: inherit;
}

.map {
    height: 86vh;
    width: 75vw;
    overflow: hidden;
    flex-grow: 3;
}

@keyframes blinker {
    50% {
        stroke-opacity: 0;
    }
}

.checkboxes{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}

#room_info {
    width: 20vw;
    max-height: 50%;
    margin: 0.5em;
    padding: 5px;
    border: 1px solid;
    background-color: #fff;
    flex-grow: 1;
    overflow-y: scroll;
}

#encounter {
    max-height: 50%;
    flex-grow: 1;
    overflow-y: scroll;
    width: 20vw;
}

.encounter_item label {
    margin: 5px 0;
    display: block;
}

.encounter_item input {
    width: 50%;
    float: right;
}

#stamp-list {
    display: none;
    flex-grow: 1;
    max-height: 100%;
    overflow-y: scroll;
}

.stamp {
    padding: 1em;
    margin: 0.2em;
    border: 0.2em solid;
    width: 20vw;
}

.stamp img {
    width: 200px;
    max-height: 200px;
    display: block;
}

.stamp a {
    word-wrap: break-word;
    cursor: pointer;
    color: black;
}
